{% extends 'layouts/image-viewer-base.html' %}

{# Default navigation for square image (base template) #}
{% set previousPage = previousPage | default('/image-viewer-image-0281') %}
{% set nextPage = nextPage | default('/image-viewer-image-0006') %}

{% block afterHeader %}
  {{ tnaWarning({
    classes: "tna-!--no-margin-top",
    headingLevel: 2,
    body: "<p><strong>You are viewing a low-resolution preview of this record</strong></p> <p class='tna-!--no-margin-top'>To download the full record click &lsquo;Add to basket&rsquo;.</p>"
  }) }}
{% endblock %}

{% block mainContent %}

  <div class="tna-theme-dark tna-image-viewer-layout__content">
    <div class="tna-section">

      <div class="tna-image-viewer-image__navigation">

        {{ tnaButton({
          text: "Previous image",
          href: previousPage,
          icon: "arrow-left"
        }) }}

        {{ tnaButton({
          text: "Next image",
          href: nextPage,
          icon: "arrow-right",
          rightAlignIcon: true
        }) }}

      </div>

      <div class="tna-container">
        <div class="tna-column tna-column--full">

          <figure class="tna-image-viewer-image__image">
            {% block image %}
              <img src="/public/img/prototype-full-size.jpg" alt="">
            {% endblock %}
          </figure>

        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block footerContent %}
  <a href="image-viewer-list">View all images</a>
{% endblock %}
