{% extends 'nationalarchives/templates/layouts/_prototype-kit.njk' %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="/public/stylesheets/prototype.css">
{% endblock %}

{% block bodyEnd %}
  {% include 'govuk-prototype-kit/includes/scripts.njk' ignore missing %}
  <script>
    if (window.TNAFrontend && window.TNAFrontend.initAll) {
      document.addEventListener("DOMContentLoaded", function() {
        window.TNAFrontend.initAll();
        var cookies = new TNAFrontend.Cookies();

        // Removed system fallback here as it was causing issues with the theme not being applied correctly
        var theme = cookies.get("theme");

        var $tnaTemplate = document.querySelector(".tna-template");

        if (theme === "light") {
          $tnaTemplate.classList.remove(
            "tna-template--system-theme",
            "tna-template--dark-theme",
          );
        } else if (theme === "dark") {
          $tnaTemplate.classList.remove("tna-template--system-theme");
          $tnaTemplate.classList.add(`tna-template--dark-theme`);
        } else if (theme === "system") {
          $tnaTemplate.classList.remove("tna-template--dark-theme");
          $tnaTemplate.classList.add(`tna-template--system-theme`);
        }
      });
    }
  </script>
{% endblock %}
